window {
	font-family: Hack Nerd Font Mono;
	font-size: 1em;
	border: .1em solid --wofi-color13;
	border-radius: 1em;
	background-color: --wofi-color24;
}

#input {
	margin: .5em;
	border: 1px solid --wofi-color23;
	border-radius: 1em;
	color: --wofi-color14;
	background-color: --wofi-color23;
}

#input image {
	color: --wofi-color14;
}

#inner-box {
	margin: .5em;
	border: none;
	background-color: --wofi-color25;
}

#outer-box {
	margin: .5em;
	border: none;
	background-color: --wofi-color25;
}

#text {
	margin: .5em;
	color: --wofi-color14;
} 

#entry:selected {
	background-color: --wofi-color22;
	font-weight: normal;
	border-radius: 1em;
}

#text:selected {
	background-color: transparent;
	color: --wofi-color14;
	font-weight: bold;
}
